themes {
	default {
		fg "#e0e6ff"
		bg "#565f89"
		black "#1d202f"
		red "#f7768e"
		green "#62d196"
		yellow "#e0af68"
		blue "#7aa2f7"
		magenta "#bb9af7"
		cyan "#7dcfff"
		white "#c0caf5"
		orange "#ff9e64"
	}
}
