themes {
	default {
		fg "#faf4f8"
		bg "#121619"
		black "#000000"
		red "#da1e28"
		green "#42be65"
		yellow "#f1c21b"
		blue "#4589ff"
		magenta "#8a3ffc"
		cyan "#33b1ff"
		white "#ffffff"
		orange "#ff832b"
	}
}
